.navbar {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: #212121;
	padding: 0.5rem 1rem;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid white;
}

.main__header {
	display: inline-block;
	padding: 0.5rem 1rem;
}

.main__header--brand {
	display: flex;
	height: 56px;
	align-content: center;
	justify-content: center;
}

.main__header--brand img {
	height: 100%;
}

.main__nav {
	display: inline-block;
	padding: 0.5rem 2rem;
	text-align: center;
	justify-content: right;
	align-content: flex-end;
}

.main__nav--items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main__nav--item {
	display: inline-block;
	margin: 0 1rem;
}

.main__nav--link {
	text-decoration: none;
	font-size: 1rem;
	color: #212121;
	background: white;
	padding: 9px;
	border-radius: 10px;
	border: 1px solid transparent;
}

.main__nav--link:hover,
.main__nav--link:active {
	color: white;
	background: #212121;
	border: 1px solid white;
}
